{% extends 'base.html.twig' %}
{% block title %} 2 factor authentication {% endblock %}

{% block body %}
<form method="post" action="{{ path('2fa_login_check') }}">
    <label for="auth_code">Введіть код:</label>
    <input type="text" id="auth_code" name="_auth_code" autofocus />
    <button type="submit">Підтвердити</button>
</form>
{% endblock %}
